body {
}


#map {
    width: 600px;
    height: 600px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

    #map div {
        width: 59px;
        height: 59px;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
        float:left;
    }

        #map .path {
            background-color: white;
        }

        #map .room {
            background-color: yellow;
        }

        #map .door {
            background-color: red;
        }



